
body {
font: 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  /* height: 100%; */
  top: 15%;
  /* background: linear-gradient(to right ,red , yellow); Standard syntax */
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container div{

  margin: 10px;
  display: inline-block;
  /* width: min-content; */
}
li{
  letter-spacing: 0em;
  text-transform: none;
}
h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
}
h3{
  text-transform: none;
}
.done {
  text-decoration: line-through;
}
.transparent{
  background-color: transparent;
  border : none;
}
.transparent:hover{
  border : 1px solid grey;
}